body {
    background: url("../images/triviaBackground.jpg");
    background-size:cover;
    background-repeat: repeat;
    text-align: center;
}
h1 {
    font-size: 20px;
    font-weight: 400;
}
.jumbotron {
    color: black;
    background-color: rgba(248, 243, 85, 0);
    opacity: .7;
    margin-top: 50px;
    margin-left: auto;
    width: 55%;
  }
