body {
    background: url("../images/triviaBackground.jpg");
    background-size:cover;
    background-repeat: repeat;
    text-align: center;
}
h1 {
    font-size: 20px;
    font-weight: 400;
}
.jumbotron {
    color: black;
    background-color: rgba(248, 243, 85, 0);
    opacity: .7;
    margin-top: 50px;
    margin-left: auto;
    width: 55%;
  }
  #gameArea {
    margin-top:10px;
    max-width: 50%;
    margin-left: auto;
    color: black;
    font-size: 26px;
    height: 500px;;
  }
  .answer {
    height: auto;
    font-family: 'Montserrat', sans-serif;
    color: black;
    padding-top: 25px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom: 25px;
    background-color: white;
    border-radius: 4px;
    opacity: .7;
  }
  .timer-p {
    margin-top: 10px;
  }
  .img-wrong {
    margin-top: 10px;
    width:100%;
  }
  .reset-button {
    margin-top: 40px;
  }
